{{ define "body" }}

<div class="card" style="width: 25rem;">
  <img src="{{ .Info.Image }}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ .Info.Name }}</h5>
    <p class="card-text">{{ .Info.Price }}_{{ .Info.Currency }}</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">An item</li>
  </ul>
  {{ range .Params }}
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{ .Name }} {{ .Value }}</li>
  </ul>
  {{ end }}
</div>

{{ end }}
